.form {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    height: 100%;
  }
  
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: #8a2b06;
    border: 1px solid #8a2b06;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
    
    
  }

  .form input,
  .form textarea {
    font: inherit;
    padding: 0.35rem;
    border-radius: 4px;
    background-color: #f0f0f0;
    border: 2px solid #4e3c03;
    
    /* display: block; */
    /* width: 100%; */
    /* font-size: 1.25rem; */
  }


  .form input:focus,
.form textarea:focus {
  background-color: #cbf8 f8;
  outline-color: teal;
}


  
  .form button:hover,
  .form button:active {
    background-color: #641e03;
    border-color: #641e03;
  
  }